/*ARQUITECTA FONT*/
@import url('https://fonts.cdnfonts.com/css/arquitecta');
{
    font-family: 'Arquitecta', sans-serif;
    color: #383838;
}
/*Miller FONT*/
@import url("https://use.typekit.net/clf7fdh.css");
/*NORMAL*/
{
    font-family: "miller-headline", serif;
    font-weight: 400;
    font-style: normal;
}
/*BOLD*/
{
    font-family: "miller-headline", serif;
    font-weight: 700;
    font-style: normal;
}
  
*{
    margin: 0;
    box-sizing: border-box;  
}

/* search function start */

.header {
    background-color: #ffffff;
    position: fixed;
    z-index: 5;
    width: 100%;
}
.search-box {
    position: fixed;
    top: 2px;
    right: 5px;
    height: 60px;
    background: white;
    line-height: 40px;
    padding: 10px;
    border-radius: 60px;
  }
  

.search-input {
    background: white;
    color: black;
    outline: none;
    border: none;
    line-height: 40px;
    width: 0px;
    float: left;
    font-size: 14px;
    transition: 0.7s ease;
    font-family: sans-serif;
  }

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: white;
    padding: 12px;
    border-radius: 50%;
    float: right;
    color: black;
    transition: 0.4s ease;
  }

.search-box:hover > .search-input,
.search-input:focus {
    width: 240px;
    margin: 0px 8px;
  }

.search-box:hover > .search-btn,
.search-input:focus + .search-btn {
    background: #D3DEDF;
  }
/* search function end */

/* header section start */
.neye_logo_search{
    text-align: center;
    }  

.logo{
    background-color: #ffffff;
    font-size: 40px;
    padding: 10px;
    }


.intro-text{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
    }

.intro-text h1{
    padding: 10px;
    font-size: 30px;
    font-family: "miller-headline", serif;
    }

.intro-text h2{
    padding: 10px;
    font-size: 50px;
    font-family: "miller-headline", serif;
    }   

.intro-text p{
    padding: 10px;
    font-size: 20px;
    font-family: 'Arquitecta', sans-serif;
    }

.summer{
    width: 100%;
    max-height: 520px;
    display: block;
    object-fit: cover;
    filter: blur(5px);
    }

.barcode {
    overflow: hidden;
    }

.barcode-frontpage{
    display: none;
    }

.neye_fond{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 10px;
    text-align: center;    
    }

.neye_fond img{
    margin-top: 20px;
    width: 45px;
    padding: 5px;
    }
/* header section end */


/* brands for you section start */
.brands{
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    }

.brands h1{
    font-size: 40px;
    margin-top: 15px;
    font-family: "miller-headline", serif;
    }

.brands_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #E7EDEE;
    }
  
.brands_boxes {
    background-color: white;
    height: 100px;
    width: 200px;
    margin: 15px;
    cursor: pointer;
    }
  
.brands_boxes img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    }
/* brands for you section end */


/* brand news section start */
.brand_model{
    margin-right: 10%;
    margin-left: 10%;
    }

.brand_model h2{
    font-family: 'Arquitecta', sans-serif;
    padding-top: 5px;
    padding-bottom: 20px; 
    font-size: 20px;
    }

.brand_model_img{
    display: block;
    background-color: pink;
    object-fit: contain;
    }

.product_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #E7EDEE;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    }
      
.product_boxes {
    flex-basis: calc(25% - 20px);
    max-width: calc(25% - 20px);
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: column;
    }
    
.product_box_img {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    }
      
.product_box_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
      
.product_box_text {
    padding: 5px;
    }
      
.product_box_text h1 {
    font-size: 20px;
    font-family: 'Arquitecta', sans-serif;
    margin: 0;
    }
      
.product_box_text p {
    font-size: 15px;
    font-family: 'Arquitecta', sans-serif;
    margin: 0;
    }
      
.prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
      
.old_price p {
    text-decoration: line-through;
    }
      
.new_price p {
    color: #ED6C77;
    }
/* brand news section end */


/* membership offer section start */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 150px; /* Tilføjer 20px padding til højre og venstre */
  }
  
  .brand_model2 {
    flex-basis: calc(50% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .brand_model_img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
/* membership offer section end */


/* neye-fonden section start */
.neye_fond_info {
    background-color: #E7EDEE;
    width: 100%;
    height: 810px;
    text-align: center;
    font-family: 'Arquitecta', sans-serif;
    margin-top: 30px;
    
    }

.nf_fond_bow img {
    height: 60px;
    width: 100%;
    margin-top: 30px; 
}
.neye_fond_info h1 {
    padding-top: 10px;
    padding-bottom: 20px;
    }

.neye_fond_footer {
    width: 100%;
    height: 300px;
    background-color: #E7EDEE;
}

.neye_fond_footer img {
    width: 60%;
    height: 300px;
    object-fit: cover;
}

.nf_info {
    font-family: 'Arquitecta', sans-serif;
    font-size: 20px;
    padding: 25px;
    width: 60%;
    margin: 0 auto;
}

.black-button {
    background-color: black;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
  }

.black-button:hover {
    background-color: white;
    color: black;
    border: black;
    border-style: solid;
    border-width: thin;
    cursor: pointer;
}
/* neye-fonden section start */



@media (max-width: 1024px) {
    .product_boxes {
      flex-basis: calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
    .product_flex{
        padding-left: 15px;
        padding-right: 15px;
    }
    .nf_info {
        width: 80%;
    }
    .neye_fond_footer img {
        width: 80%;
    }
 
}
  
@media only screen and (min-width: 992px){
    .brand_model {
        max-width: 50%;
        margin: 0 auto;
    }
    .neye_fond_footer img {
        width: 80%;
    }

}


@media (max-width: 768px) {
    .brand_model2 {
      flex-basis: 100%;
    }
    .row {
        padding: 0 30px;
      }
    .product_flex{
        padding-left: 20px;
        padding-right: 20px;
    }
    .nf_info {
        width: 100%;
    }
    .neye_fond_footer img {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .product_boxes {
      flex-basis: calc(100% - 20px);
      max-width: calc(100% - 20px);
      min-width: 280px;
    }
    .barcode-frontpage {
        display: block; /* Viser kun i mobilversionen */
        background-color: rgba(255, 255, 255, 0.4); /* White w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 39%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 100%;
        padding: 5px;
        text-align: center;  
        }
        .neye_fond_footer img {
            width: 100%;
        }
        .intro-text {
            top: 20%;
        }
        .neye_fond {
            top: 49%;
        }
}