/*ARQUITECTA FONT*/
@import url('https://fonts.cdnfonts.com/css/arquitecta');
{
    font-family: 'Arquitecta', sans-serif;
    color: #383838;
}
/*Miller FONT*/
@import url("https://use.typekit.net/clf7fdh.css");
/*NORMAL*/
{
    font-family: "miller-headline", serif;
    font-weight: 400;
    font-style: normal;
}
/*BOLD*/
{
    font-family: "miller-headline", serif;
    font-weight: 700;
    font-style: normal;
}
  
*{
    margin: 0;
    box-sizing: border-box;  
}

/*frontpage*/
.search{
    text-align: center;
}  

.logo{
    background-color: #ffffff;
    font-size: 40px;
    padding: 10px;
}

.intro-text{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.intro-text h1{
    padding: 10px;
    font-size: 30px;
    font-family: "miller-headline", serif;
}

.intro-text h2{
    padding: 10px;
    font-size: 50px;
    font-family: "miller-headline", serif;
}

.intro-text p{
    padding: 10px;
    font-size: 20px;
    font-family: 'Arquitecta', sans-serif;
}

.summer{
    width: 100%;
    max-height: 510px;
    display: block;
    object-fit: cover;
    filter: blur(5px);
}

.barcode {
    overflow: hidden;
}
.barcode-frontpage{
    background-color: rgba(255, 255, 255, 0.4); /* White w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 43.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 5px;
    text-align: center;  
}

.neye_fond{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 10px;
    text-align: center;    
}

.neye_fond img{
    margin-top: 20px;
    width: 45px;
    padding: 5px;
}

/*main*/
.brands{
    margin: 0 auto;
    background-color: rgb(175, 17, 17);
    text-align: center;
    padding: 20px;
}

.brands h1{
    font-size: 40px;
    margin-top: 15px;
    font-family: "miller-headline", serif;
}

.brands_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #E7EDEE;
    padding: 25px;
}
  
.brands_boxes {
    background-color: white;
    height: 100px;
    width: 150px;
    margin: 10px;
}
  
.brands_boxes img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.brand_model{
    margin-right: 5%;
    margin-left: 5%;
    max-width: 50%;
    min-width: 80%;
}

.brand_model h2{
    font-family: 'Arquitecta', sans-serif;
    padding-top: 5px;
    padding-bottom: 20px; 
    font-size: 20px;
}

.brand_model_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.product_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #E7EDEE;
    padding: 25px;
}
  
.product_boxes {
    background-color: orange;
    width: 200px;
    margin: 10px;
}

.product_box_text {
    background-color: #E7EDEE;
    font-family: 'Arquitecta', sans-serif;
    padding-top: 5px;
    padding-bottom: 10px;
}

.product_box_text h1 {
    font-size: 20px;
}

.product_box_text p {
    font-size: 15px;
}

.product_boxes img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product_box_img{
    height: 200px;
    width: 200px;
}

.product_box_img img{
    object-fit: cover;
}

.old_price {
    text-decoration: line-through;
}

.new_price {
    color: #ED6C77;
    padding-left: 10px;
}

.prices{
    display: flex;
}
.brand_model_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: blue;
    margin-right: 5%;
    margin-left: 5%;
}

.brand_model2 {
    background-color: orange;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}